{{$data := json (getv "/registry/services/specs/default/python-app")}}

upstream {{ $data.spec.selector.name }} {
  server {{ $data.spec.clusterIP }}:{{ (index $data.spec.ports 0).port }};
}

server {
  listen 80;

  location / {
    proxy_pass          http://{{$data.spec.selector.name}};
    include             /etc/nginx/proxy_params;
    proxy_http_version  1.1;
    proxy_set_header    Connection "";
  }
}
